<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1><% title %></h1>
            <h3>What would you like to do?</h3>
            <table class="p03B">
                <tr>
                    <td><a href="03/store"><button>Shop</button></a></td>
                    <td><a href="03/store/cart"><button>Browse options</button></a></td>
                    <td><a href="03/store/orders"><button>Order History</button></a></td>
                    <td><a href="03/admin/items"><button>Admin Control</button></a></td>
                </tr>
            </table>
        </div>
    </div>
    
</body>
</html>