<%- include('../../includes/header.ejs') %>
<%- include('../../includes/nav.ejs') %>

    <form action="/prove02/add-book" method ="POST">
        Name of Book<br>
        <input type="text" name="username"><br>
        Book description<br>
        <textarea name="description"></textarea><br>
        <button type="submit">Add book</button>
    </form>
</body>
</html>